<h1>Friend List</h1>

 
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
    <tr>
      <td><%= friend.frist_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.address %></td>
      <td><%= link_to "View", friend %> | <%= link_to "Edit", edit_friend_path(friend) %></td>
    </tr>
    <% end %>
    

  </tbody>
</table>

<br>

<%= link_to "Add New", new_friend_path, class:"btn btn-secondary"%>
